<h1 class="title">Lista de produtos:</h1>
<ul
  class="grid gap-2 2xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5"
>
  {{#each products}}
    <li class="border-2 border-primary-green rounded-md p-4 shadow">
      <h2 class="text-xl font-bold">{{this.name}}</h2>
      <p>{{this.description}}</p>
      <p class="font-bold text-2xl my-2">{{this.formatted_price}}</p>

      <form action="/carrinho/adicionar" method="POST">
        <input type="hidden" name="id" id="id" value="{{this.id}}" />
        <input type="text" name="quantity" id="quantity" />
        <input type="submit" value="Comprar" />
      </form>
      <form action="/favoritos/add" method="POST">
        <input
          type="hidden"
          name="product_id"
          id="product_id"
          value="{{this.id}}"
        />
        <input type="submit" value="favoritar" />
      </form>
    </li>
  {{/each}}
</ul>