<div class='form-card'>
  <h1 class='form-title'>Editar produto</h1>
  <form action='/admin/produtos/editar' method='POST'>
    <div class='input-group mb-2'>
      <label for='id'>ID</label>
      <input
        type='text'
        name='id'
        id='id'
        value='{{id}}'
        readonly
        required
        class='bg-slate-200'
      />
    </div>
    <div class='input-group mb-2'>
      <label for='name'>Nome</label>
      <input type='text' name='name' id='name' value='{{name}}' required />
    </div>
    <div class='input-group mb-2'>
      <label for='price'>Preço</label>
      <input type='text' name='price' id='price' value='{{price}}' required />
    </div>
    <div class='input-group mb-2'>
      <label for='description'>Descrição</label>
      <textarea
        name='description'
        id='description'
        required
      >{{description}}</textarea>
    </div>
    <div class='input-group mb-4'>
      <label for='category_id'>Categoria</label>
      <select name='category_id' id='category_id' required>
        {{#each categories}}
          <option value='{{this.id}}' {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div>
      <input type='submit' value='Editar' class='form-submit' />
    </div>
  </form>
  <a href='/admin/produtos' class='back-link'>
    Voltar à lista
  </a>
</div>